.slide-background.title-slide, .slide-background.contact-slide {
	background-size: cover;
}

.slide-background.title-slide {
    background-image: url(./img/slide-title.png);
}

.slide-background.contact-slide {
    background-image: url(./img/slide-contact.png);
}

.reveal .slides section.title-slide::after,
.reveal .slides section.contact-slide::after {
    content: '';
    position: absolute;
	top: 0;
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
}

.reveal .slides section.title-slide::after, .reveal .slides section.contact-slide::after {
    background-image: url(./img/logo.png);
    background-size: 12rem;
    background-position: top right;
}

